{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Available Courses{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">{% endblock %}

{% block content %}
<div class="cards">
    {% for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
        <div class="card-copy">
            {{ course.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}